@charset "UTF-8";

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.col-1 {
  float: left;
  width: 25%;
  height: 56px;
  margin-top: 6px;
  text-align:center;
  position: relative;
  top: 9px;
  font-size: 24px;
}
.col-2 {
  float: left;
  width: 75%;
  height: 56px;
  margin-top: 6px;
  font-size: 24px;
}
.col-3 {
   width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
.col-4 {
   padding: 7px 20px
}
#chan {
   width: 30%;
    padding: 5px 15px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 24px;   
}