@charset "UTF-8";
div {
	display: block;
}
.body-main {
	width: 30%;
	background-color: blue;
	margin: 50px;
	float: center;
	text-align: center;
	
}
p {
	display: inline;
	margin: 10px;
}
.test p {
	display: block;
	margin: 100px;
}