@charset "EUC-KR";
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  display:flex;
  float: left;
  width:100%;
  margin-bottom:20px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 24%;
  padding-left: 5px;  
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 30%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
	width:100%;
   background-color: white;
   padding: 5px;
   
}
.card2{
	background-color:white;
	padding: 20px;
	margin-top :5px;
}
.leftcolumn p{
	text-align:center;
}
.review_row{
	flex:30%;
}
/* Clear floats after the columns */
.row4:after {
  content: "";
  display: table;
  clear: both;
}
.row4{
	width:100%;
	height:500px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, reviewcolumn {   
    width: 100%;
    padding: 0;
  }
}
.side {
  -ms-flex: 30%; /* IE10 */  
  background-color: #ffffff;
  
}
.side ul li {  
  width: 100%;
  padding: 0px;
  height:200px;
  margin:20px;
}
.side img {
	width:200px;
	/* height:200px; */		
	
}
.review ul li {  
  width: 100%;
  padding: 0px; 
  margin:20px;
}
.review{
  -ms-flex: 30%; /* IE10 */
  flex: -1%;
  background-color: #ffffff;
}

.review img{
	width:155px;
	
}
/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  border-top: 1px solid #c0c0c0; 
  border-bottom: 1px solid #c0c0c0;  
}

.review_main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
    
}
.main p {
	margin-top:20px;
	text-align:left;
	font-size:15px;
}

.main h1 {
	font-size:30px;
}

.main h3{
	font-size:20px;	
}
.reviewcolumn{  
  display:flex;  
  width: 100%;
  margin-bottom:20px;
  
}
.checked {
  color: orange;
}
.review_main input[type="text"]{
	display:inline-bolck;
	width:75%;
	height:120px;
	padding:0 19px;
	font-style:italic;
}
.review_main input[type="submit"]{
	margin-left:50px;
	line-height: 116px;
	border:1px solid #f0ad64;
	border-radius: 2px;
	color:#f0ad64;
	letter-spacing:0.1em;
	font-weight:bold;
	text-transform:uppercase;
	display:inline-block;
	text-decoration:none;
	font-style:normal;
	background:none;
	transition:0.4s;
	
}
.review_main input[type="submit"]:hover {
	background:#f0ad64;
	color:#fff;
}
